* {margin: 0;}
/* CSS Document */
.container{
	border-style: solid;
	color: coral;
	border-color: chartreuse;
	padding: 10px 25px 10px 25px
}
#green{
	color: green;
}
.text{
	background-color: blue;
	font-family: 'Ubuntu', sans-serif;
}
#img1{
	width: 350px;
	height: 350px;
		
}
#h1water{
	background-image: url("../images/joe.jpg")
}